@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

:root {
    --fonte1: Verdana,Geneva,Tahoma, sans-serif;
    --fonte2:  "Playfair Display", serif;
    --fonte3: "Montserrat", sans-serif;
    --fonte4: "EB Garamond", serif;
}

* {
    margin: 0px;
    padding: 0px;
}

.item {
    position: relative;
    width: 100%;
    height: auto;
}

header  {
    background-color: black;
}


p {
    color: #f9f9f9;
    font-family: var(--fonte3);
    text-align: center;
    max-width: 300px;
    line-height:1.5;
    margin: 0 auto;
    font-size: 1.2em;

}

.nome {
    color: #f9f9f9;
    font-family: var(--fonte1);
    font-size: 10vw;
    margin-left: 40px;
}

.listnome {
    color: #f9f9f9;
    font-family: var(--fonte1);
    font-size: 10vw;
    text-align: right;
    margin-top: 8px;
    margin-right: 40px;
}


.list {
    position: absolute;
    top: 20px;
    right: 40px;
    z-index: 2;
}

.list ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.list ul li a {
    text-decoration: none;
    color: #f9f9f9;
    font-size: 1em;
    transition: color 0.3s;
}

.list ul li a:hover {
    text-shadow: 5px 5px 5px #f9f9f950;
}



.title {
    color: #f9f9f9;
    background-color: black;
    padding: 20px;
    font-size: 2.5em;
    font-family: var(--fonte1);
    text-shadow: 5px 2px 5px #f9f9f92f;
    text-align: center;
    font-size: 3em;
}

.projetoimg {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   background-color: black;
}

.img {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.434);
}

.img  img{
    width: 250px;
    margin-left: 10px;
    border-radius: 8px;
    filter: grayscale(100%);
    transition: width 0.3s ease;
    display: block;
    border: none;
    outline: none;
    margin-bottom: 20px;
}

.img img:hover {
    transform: scale(1.1);
    filter: grayscale(0);
}

.sobre {
    background-color: #f9f9f9;
    padding: 40px 20px;
}

.sobre h2 {
    color: black;
    background-color: #f9f9f9;
    padding: 20px;
    font-size: 2.5em;
    font-family: var(--fonte1);
    text-shadow: 5px 2px 5px #f9f9f92f;
    text-align: center;
    font-size: 3em;
}

.container {
    position: relative;
    background-color: black;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 700px;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    }

.imgeu {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.imgeu p {
    font-family: var(--fonte4);
    font-size: larger;
    font-style: italic;
    letter-spacing: 1px;
}

.imgeu img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.308);
    margin: auto;
    margin-top: 20px;
    transition: 0.3s ease-in-out;
}

.imgeu:hover .image {
    content: url(../imagens/eu-em-desenho3.png);
}

.contato {
    background-color: black;
    padding: 10px;
    margin-top: 20px;
}

.contatoimg {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.contato .title {
    
    font-size: 3em;
}

.icon1 {
    width: 40px;
    transition: 0.3s ease;
    background-color: white;
    border-radius: 50px;
    
}

.icon1:hover {
    filter: brightness(1.2);
    box-shadow: 0 0 10px #0084ff, 0 0 20px #0084ff, 0 0 30px #0084ff; 
}

.icon2 {
    width: 40px;
    transition: 0.3s ease;
    border-radius: 50px;
    background-color: white;
}

.icon2:hover {
    filter: brightness(1.2);
    box-shadow: 0 0 10px #ed2ba9, 0 0 20px #ed2ba9, 0 0 30px #ed2ba9;

}

.icon3 {
    width: 40px;
    transition: 0.3s ease;
    background-color: white;
    border-radius: 50px;
}

.icon3:hover {
    filter: brightness(1.2);
    box-shadow: 0 0 10px #6d6c6c, 0 0 20px #6d6c6c, 0 0 30px #6d6c6c;
}

.icon4 {
    width: 40px;
    transition: 0.3s ease;
    border-radius: 50px;
    background-color: white;
}

.icon4:hover {
    filter: brightness(1.2);
    box-shadow: 0 0 10px #1a29f5, 0 0 20px #1a29f5, 0 0 30px #1a29f5;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: black;
    color: #f9f9f9;
    font-family: var(--fonte2);
}

footer a {
    text-decoration: none;
    color: #f9f9f9;
    font-weight: bold;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: aparecer 0.8s ease-out forwards;
}

.delay-1 {animation-delay: 0.2s;}
.delay-2 {animation-delay: 0.6s;}
.delay-3 {animation-delay: 0.2s;}
.delay-4 {animation-delay: 0.3s;}
.delay-5 {animation-delay: 0.4s;}


@keyframes aparecer {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.word {
    display: inline-block;
}


@media (max-width: 768px) {
    .menu {
      flex-direction: column;
    }

    .list {
        top: 10px;
        right: 20px;
    }

    .list ul {
        gap: 20px;
    }

    .list ul li a {
        font-size: 1em;
    }

  }
  